token: ""
BotUsername: ""
admin_chat: ''


mensa_channel: '@channelusername'
news_chanel: '@channelnews'

url_ersu: 'http://www.ersucatania.gov.it/blog/'

path_avvisi: "classes/avvisi.txt"
path_mensa: "classes/menu.pdf"
log4j_properties: "classes/log4j.properties"

